{
  "presets"      : [
    [
      "@babel/preset-env",
      {
        "targets"    : {
          "browsers": "Android >= 4.3, iOS >= 8.0, last 5 Chrome versions, last 5 Firefox versions, last 5 Opera versions, IE >= 10, last 5 Edge versions"
        },
        "modules"    : false,
        "useBuiltIns": "usage"
      }
    ]
  ],
  "compact"      : false,
  "plugins"      : [
    "lodash",
    "@babel/plugin-syntax-dynamic-import"
  ],
  "highlightCode": false,
  "sourceMaps"   : true,
  "minified"     : false,
  "comments"     : true,
  "env"          : {
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets"    : {
              "browsers": "Android >= 4.3, iOS >= 8.0, last 5 Chrome versions, last 5 Firefox versions, last 5 Opera versions, IE >= 10, last 5 Edge versions"
            },
            "modules"    : "commonjs",
            "useBuiltIns": false
          }
        ],
        "@babel/preset-typescript"
      ],
      "plugins": [
        "lodash",
        "dynamic-import-node"
      ]
    }
  }
}
