{
  "presets"      : [
    [
      "env",
      {
        "modules" : false,
        "browsers": "Android >= 5.0, iOS >= 8.0, last 5 Chrome versions, last 5 Firefox versions, last 5 Opera versions, IE >= 10, last 5 Edge versions"
      }
    ]
  ],
  "compact"      : true,
  "plugins"      : [
    "lodash",
    "transform-runtime",
    "transform-class-properties",
    "transform-object-rest-spread",
    "syntax-trailing-function-commas",
    "syntax-object-rest-spread"
  ],
  "highlightCode": false,
  "sourceMaps"   : false,
  "minified"     : false,
  "comments"     : true
}
