{
  "presets"      : [
    [
      "@babel/env",
      {
        "modules"    : false,
        "useBuiltIns": "usage",
        "corejs": 3
      }
    ]
  ],
  "compact"      : true,
  "plugins"      : [
    "lodash",
    "transform-node-env-inline",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-syntax-dynamic-import"
  ],
  "highlightCode": false,
  "minified"     : false,
  "comments"     : true,
  "env"          : {
    "test": {
      "presets": [
        [
          "@babel/env",
          {
            "modules"    : "commonjs",
            "useBuiltIns": false
          }
        ]
      ],
      "plugins": [
        "lodash",
        "@babel/plugin-proposal-object-rest-spread",
        "dynamic-import-node"
      ]
    }
  }
}
