{
  "presets"      : [
    [
      "env",
      {
        "browsers": "last 2 Chrome versions, last 2 PhantomJS versions"
      }
    ]
  ],
  "compact"      : false,
  "plugins"      : [
    "lodash",
    "transform-class-properties",
    "transform-object-rest-spread",
    "syntax-trailing-function-commas",
    "syntax-object-rest-spread"
  ],
  "highlightCode": false,
  "sourceMaps"   : false,
  "minified"     : false,
  "comments"     : true
}
