.hello
  h1.h1 Hello!!!
  p {{greeting}}
  p
    button.btn.btn-danger(type="button", @click="changeReceptionist") Another receptionist!

  section
    h1 Inner section "another"
    router-view(name="my-global-comp")

  section
    component-in-module(name="hello")
